# 环境变量
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg

# 数据库
users.db

# 虚拟环境
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# 系统
.DS_Store
Thumbs.db

# 日志
*.log
logs/

# Docker
.docker/
